
.idea/

.vscode/

cmake-build-debug/

build/

*.pyc

doc/html/

*.so

*.gif

*.png

cmake-build-release/

commonroad_reach/graph_reach/*.c
commonroad_reach/graph_reach/*.so
commonroad_reach/graph_reach/build/

*.log
