commonroad-io>=2021.4
commonroad-route-planner>=2022.1
numpy>=1.19.2
matplotlib>=3.3.3
seaborn>=0.10.0
shapely>=1.7.0
imageio>=2.9.0
opencv-python>=4.5
omegaconf>=2.1.1
pytest>=6.2.2
cython>=0.29.28

