commonroad-io>=2023.1
commonroad-route-planner>=2022.3
commonroad-drivability-checker>=2023.1 
numpy>=1.19.2
matplotlib>=3.3.3
scipy>=1.7.3
seaborn>=0.10.0
shapely>=2.0.0
imageio>=2.9.0
opencv-python>=4.5
omegaconf>=2.1.1
pytest>=6.2.2
cython>=0.29.28
setuptools>=62.1.0
pyyaml>=5.3.1
triangle==20220202
networkx>=2.6.3
