commonroad-io>=2021.4,<2022.2
commonroad-route-planner>=2022.1
numpy>=1.19.2
matplotlib>=3.3.3
seaborn>=0.10.0
shapely>=1.7.0
imageio>=2.9.0
opencv-python>=4.5
omegaconf>=2.1.1
pytest>=6.2.2
cython>=0.29.28


setuptools~=50.3.2
pybind11~=2.9.1
psutil~=5.8.0
typing~=3.7.4.3
yaml~=0.1.7
pyyaml~=5.3.1
enum34~=1.1.10
scipy~=1.4.1
triangle==20200424
networkx~=2.6.3
